.text-hero{
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    color: white;
    background: $gradient-red-text-uround;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    color: white;
    background: $gradient-red-text;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    color: $text;
}

h2 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
    color: $main;
}

h3 { 
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: $main;
}

h4 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    color: $main;
}

h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: $text;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.span {
    font-size: 14px;
    line-height: 22px;
    color: $text;
}

.text-about {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: $text;
}

.copyright {
    font-size: 16px;
    line-height: 20px;
    color: $text;
}
