.header {
    max-width: 1920px;
    padding: 50px 0 0;

    &__container {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }

    &__wrap {
        display: grid;
        grid-template-columns: 130px 1fr;

    }

    &__logo {
        grid-row-start: 1;
        grid-row-end: 3;

    }

    &__contact-menu {
        display: flex;
        flex-direction: column;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__menu {
        display: flex;
        flex-direction: column;
    }

    &__btn:active {
        background: $separator;
        border-radius: 8px;
    }
}

.menu {
    &__wrap {
        display: flex;
        justify-content: flex-end;
    }

    &__close {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    &__item {
        margin-top: 16px;
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0px;
        }
    }
}

.contact {
    &__lang {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $separator;
            margin-right: -12px;
            margin-left: 5px;

        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__address {
        font-size: 16px;
        line-height: 20px;
        color: $white;
        position: relative;
        margin-left: 18px;
    }

    &__phone {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $white;
        position: relative;
        margin-left: 18px;
    } 

    &__facebook {
        margin-left: 18px;
    }
}

.contact__address::after , .contact__phone::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $separator;
    margin-top: 7px;
    margin-left: 5px;
}

.facebook {
    width: 24px;
    height: 24px;
    fill: white;

    &:hover {
        fill: #F0145A;
    }
    
}

.button {
    display: none;
}

.header__about{
    &__wrap {
        grid-template-columns: 318px 1fr;
    }

    &__logo {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;

        &__link {
            display: flex;
            align-items: center;
        }
    }
    
    &__icon {
        margin-right: 4px;
    }
}

.contact__about {
    &__lang__link {
         color: $text;
    }

    &__address {
        color: $text;
    }

    &__phone {
        color: $text;
    }
}

.contact__lang__link.btn-lang.active {
    color: $white;
}

.fb__about {
    width: 24px;
    height: 24px;
    fill: $text;

    &:hover {
        fill: #F0145A;
    }
}

.burger {
    stroke: $main;
}
