.link-section {
    color: $regular;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
}

.contact-map__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $regular;
}

a:hover {
    color: $accent;
    cursor: pointer;
}

.active {
    background: $accent;
    border-radius: 8px;
    color: $white;
}

.btn {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: $white;
    padding: 5px 7px 5px 7px;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        color: $white;
    }

    &:active {
        background: $accent;
        border-radius: 8px;
        color: $white;
    }   
}

.btn-lang {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: $text;
    padding: 5px 7px 5px 7px;

    &:hover {
        background: $bg;
        border-radius: 8px;
        color: $text;
    }

    &:active {
        background: $accent;
        border-radius: 8px;
        color: $white;
    }   
}

.link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $white;

        &:hover {
            color: $white;
            border-bottom: 2px solid $white;
        }

        &:active {
            color: $accent;
            border-bottom: 2px solid $accent;

        }
}

.about__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $regular;

        &:hover {
            color: $regular;
            border-bottom: 2px solid $regular;
        }

        &:active {
            color: $accent;
            border-bottom: 2px solid $accent;

        }
}